*{
    margin: 0;
    padding:0px;
    
}

body{
    background: hsl(0, 0%, 95%);
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;

}

.container{
    height: 45%;
    margin-top:9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sedans{
    background: hsl(31, 77%, 52%); 
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.sedans button{
    color:hsl(31, 77%, 52%);
}

.sedans button:hover{
    background: hsl(31, 77%, 52%);
    color: hsl(0, 0%, 95%);
    border:2px solid hsl(0, 0%, 95%);
}

.suv{
    background: hsl(184, 100%, 22%);
}

.suv button{
    color:hsl(184, 100%, 22%);
}

.suv button:hover{
    background: hsl(184, 100%, 22%);
    color: hsl(0, 0%, 95%);
    border:2px solid hsl(0, 0%, 95%);
}

.luxury{
    background: hsl(179, 100%, 13%);
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;  
}

.luxury button{
    color:hsl(179, 100%, 13%);
}

.luxury button:hover{
    background: hsl(179, 100%, 13%);
    color: hsl(0, 0%, 95%);
    border:2px solid hsl(0, 0%, 95%);
}

.column{
    width:12rem;
    height: 45%;
    padding: 3rem 2rem;

}

.container:after{
    content: "";
    display: table;
    clear: both;
    /* border-radius: 1rem; */
}

h1{
    color:hsl(0, 0%, 95%);
    margin: 1.5rem 0;
    font-family: 'Big Shoulders Display', cursive;
}

p{
    color:hsla(0, 0%, 100%, 0.75);
    width:11.25rem;
    margin-bottom: 4rem;
    margin-right: 0px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
}

button{
    background: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
    padding: 0.7rem;
    width: 8rem;
    border-radius: 100rem;
    border: none;
}

@media screen and (max-width:500px){
    .container{
        flex-direction: column;
        margin: 3rem auto;
    }
    .column{
        width: 12rem;
    }
    .sedans{
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        border-bottom-left-radius: 0rem;
    }
    .luxury{
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        border-top-right-radius: 0rem;  
    }
    
}